<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <th:block layout:fragment="config">
        <title>Add post</title>
        <link href="/static/css/post.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </th:block>

    <div layout:fragment="content">
        <div class="container">
            <h2>Ajouter un post</h2>
            <form action="#" th:action="@{/save}" th:object="${post}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="content">Contenu: </label>
                    <input type="text" id="posttextearea" th:field="*{content}" placeholder="content" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <input type="hidden" th:value="${localDateTime}" th:field="*{createdAt}" placeholder=" created at" class="form-control mb-4 col-4"/>
                </div>
                <div class="form-group">Is private:
                    <input type="checkbox" name="postStatus" th:checked="${postStatus}" th:field="${post.privatePost}" class="form-check-input"/>
                </div>
                <div class="col-auto">
                    <label class="col-form-label" for="post-image">Image</label>
                </div>
                <div class="col-6">
                    <input class="form-control" id="post-image" name="picture" type="file">
                </div>
                <button type="submit" class="btn btn-info col-2"> Valider</button>
            </form>
            <hr>
        </div>
        <a th:href="@{/}"> Back </a>
    </div>
</html>