<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

<th:block layout:fragment="config">
    <title>Films</title>
    <link href="/static/css/movie.css" rel="stylesheet"/>
</th:block>

<div layout:fragment="content">
    <div class="container">
        <form id="formSubmit" method="post" th:action="@{/movie/update}" enctype="multipart/form-data">
            <div class="row form-button">
                <h1 class="text-center my-3 col-12 col-lg-5" th:text="'Films avec ' + ${user.username}"></h1>
                <div class="col-12 col-lg-7">
                    <div class="row">
                        <div class="col-4">
                            <a data-back="Suppression" data-front="Modifier" class="button-hide-delete btn-flip"></a>
                        </div>
                        <div class="col-4">
                            <label data-back="Ajouter" data-front="Film" class="btn-flip" for="file_movie"></label>
                            <input class="form-control" id="file_movie" name="file_movie" type="file">
                        </div>
                        <div class="col-4">
                            <a href="#" data-back="Video" data-front="Valider" class="btn-flip button-submit" onclick="submitForm()"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="l-container">
                    <div class="form-check b-game-card" th:each="movie, iter : ${user.movies}">
                        <input class="form-check-input check" type="checkbox" th:value="${iter.index}" th:name="${movie.id}" th:id="'checkbox' + ${iter.index}" th:checked="${movie.isActor()}">
                        <label class="form-check-label b-game-card__cover" th:for="'checkbox' + ${iter.index}">
                            <img class="movie-cover" th:src="${movie.getMoviePath()}" alt="Image de film">
                        </label>
                        <div class="link-delete">
                            <a  th:href="@{/movie/delete(id=${movie.id})}" class="delete-img video-btn d-block"><img class="delete-logo" src="/static/css/img/delete.png" alt="Logo Gallery"></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function(){
            $(".link-delete").hide();

            $(".button-hide-delete").click(function(){
                $(".link-delete").toggle();
            });

            $(".button-submit").click(function(){
                $("#formSubmit").submit();
            });
        });
    </script>
</div>
</html>




