<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <th:block layout:fragment="config">
        <title>tchat</title>
        <link href="/static/css/tchat.css" rel="stylesheet"/>
    </th:block>

    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <h1 class="text-center mt-4 mb-4">Conversation</h1>
            </div>
            <div class="divtchat mt-5">
                <div class="row  " th:each="message : ${messages}">
                    <div class="row justify-content-start m-4" th:if="${message.getCurrentUser().getId() == user.getId()}">
                        <div class="alert alert-primary col-4 mr-5 ">
                            <img class="profile-section-logo mb-4" th:src="'https://wcs-2-be-or-not-2-be.s3.eu-west-3.amazonaws.com/'+${message.getCurrentUser().getProfil().getAvatar()}" alt="Logo de profil"/>
                            <p class="blockquote-footer" th:text="${#dates.format(message.getDate(), 'dd-MMM-yyyy HH:mm')}"/>
                            <p th:text="${message.getMessage()}"/>
                        </div>
                    </div>
                    <div class="row justify-content-end ml-5" th:unless="${message.getCurrentUser().getId() == user.getId()}">
                        <div class="alert alert-success col-4 ">
                            <p class="blockquote-footer" th:text="${#dates.format(message.getDate(), 'dd-MMM-yyyy HH:mm')}"/>
                            <p th:text="${message.getMessage()}"/>
                        </div>
                    </div>
                </div>
                <div id="message"></div>
            </div>
            <div class="row justify-content-center mt-5">
                <form class="col-7" th:action="@{/createTchatmessage}" th:object="${user}" th:method="post">
                    <input type="textarea form" class="form-control " name="contentMessage" placeholder="Ecriver votre message" id="msg" rows="4">
                    <label hidden for="userfriend">userid</label>
                    <input hidden th:value="${user.id}" name="userfriend" id="userfriend"/>
                    <div class=" row mt4 justify-content-center">
                        <input type="submit" value="Envoyer" class=" col-2 mt-2 btn btn-primary"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
</html>