<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <th:block th:replace="/fragments/bootstrap.html :: bootstrap-head"></th:block>
    <link href="/static/css/profil.css" rel="stylesheet" />
</head>
    <body>
        <header th:replace="/fragments/header.html :: top"></header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-lg-12">
                                <img class="baniere" src="/static/css/img/essai-banière.jpeg" alt="Banière">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 pr-0">
                                <ul class="banner-logo-list banner-left pl-3">
                                    <li><a href="/profil/show"><img class="banner-logo" src="/static/css/img/secured-profile.png" alt="Logo profil"></a></li>
                                    <li><a href="#"><img class="banner-logo" src="/static/css/img/map.png" alt="Logo carte"></a></li>
                                    <li><a href="#"><img class="banner-logo" src="/static/css/img/friends.png" alt="Logo amis"></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 banner-list d-flex justify-content-center">
                                <img class="ornament-logo" src="/static/css/img/ornament.png" alt="Logo circulaire">
                                <img class="profile-logo" src="/static/css/img/Iron Man.png" alt="Logo de profil">
                                <h1 class="profile-name" th:text="${user.username}">Iron Man</h1>
                            </div>
                            <div class="col-lg-5 pl-0">
                                <ul class="banner-logo-list banner-right pl-0 pr-3">
                                    <li><a href="#"><img class="banner-logo" src="/static/css/img/gallery.png" alt="Logo photos"></a></li>
                                    <li><a href="#"><img class="banner-logo" src="/static/css/img/video.png" alt="Logo vidéos"></a></li>
                                    <li><a href="#"><img class="banner-logo" src="/static/css/img/option.png" alt="Logo options"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 friend-connected">
                        <ul>
                            <li><img class="baniere-logo" src="/static/css/img/secured-profile.png"></li>
                            <li><img class="baniere-logo" src="/static/css/img/secured-profile.png"></li>
                            <li><img class="baniere-logo" src="/static/css/img/secured-profile.png"></li>
                            <li><img class="baniere-logo" src="/static/css/img/secured-profile.png"></li>
                            <li><img class="baniere-logo" src="/static/css/img/secured-profile.png"></li>
                        </ul>
                    </div>
                </div>
            </div>
        <th:block th:replace="/fragments/bootstrap.html :: bootstrap-body"></th:block>
    </body>
</html>