<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <th:block layout:fragment="config">
        <title>Cerebook index</title>
        <link href="/static/css/index.css" rel="stylesheet"/>
    </th:block>

    <div layout:fragment="content">
        <input class="retrigger" type="radio" name="rerun" id="retrigger" checked="checked" />
        <div class="bg"></div>
        <div class="pane">
            <div class="rotate">
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
                <div class="logo">CEREBOOK</div>
            </div>
        </div>
        <div class="buttons">
            <div class="home-button button--1">
                <a href="/home">ENTRER</a>
            </div>
        </div>
    </div>
</html>