<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h3>User</h3>
<a href="/">Return to home</a>
<br><br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Birthday</th>
        <th>Voir</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <div th:each="user : ${users}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.username}">username</td>
        <td th:text="${user.lastName}">lastname</td>
        <td th:text="${user.firstName}">firstname</td>
        <td th:text="${user.birthday}">birsthday</td>
        <a th:href="@{/profil/{id}(id = ${user.id})}">ajouter</a>

    </div>
    </tbody>
</table>
<br>
<a href="/">Return to the index</a>
</body>
</html>