<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <th:block layout:fragment="config">
        <title>Création utilisateur</title>
        <link href="/static/css/user.css" rel="stylesheet"/>
    </th:block>

    <div layout:fragment="content">
        <div class="container-fluid imageAccueil">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-5 bg-primary panel text-center">
                    <form id="newUserForm" class="row justify-content-center" method="post" th:action="@{/userCreate}" th:object="${user}">
                        <input name="id" th:field="*{id}" type="hidden">
                        <input id="submitButton" type="submit">
                        <h1 class="text-center my-4">Création d'un compte</h1>
                        <div th:if="${error}" class="alert alert-danger col-11 pl-1 pr-1 mb-4" role="alert">
                            Nom d'utilisateur déjà existant.
                        </div>
                        <div th:if="${error_cartography}" class="alert alert-danger col-11 pl-1 pr-1 mb-4" role="alert">
                            Coordonnées invalides.
                        </div>
                        <div th:if="${errorPassword}" class="alert alert-danger" role="alert">
                            Veuillez saisir le même mot de passe.
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="user-username">Nom d'utilisateur</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="user-username" name="username" placeholder="Wolverine" required th:field="*{username}" type="text">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="user-firstName">Prénom</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="user-firstName" name="firstName" placeholder="James" required th:field="*{firstName}" type="text">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="user-lastName">Nom</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="user-lastName" name="lastName" placeholder="Howlett" th:field="*{lastName}" type="text" required>
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="user-city">Ville</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="user-city" name="city" placeholder="New York" required th:field="*{city}" type="text">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="user-address">Addresse</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="user-address" name="address" placeholder="1 Av. du champs de mars" th:field="*{address}" type="text">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="user-email">Adresse e-mail</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="user-email" name="email" placeholder="Wolverine@x-men.com" th:field="*{email}" type="email" required>
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="user-birthday">Date d'anniversaire</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="user-birthday" name="birthday" th:field="*{birthday}" type="date" required>
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between my-3">
                            <div class="col-auto">
                                <label class="form-check-label" for="superHero">Super Héro</label>
                            </div>
                            <div class="col-auto">
                                <input class="form-check-input" id="superHero" type="radio" name="role" th:value="HERO">
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label" for="isInterestedInWomanChoice1">Neutre</label>
                            </div>
                            <div class="col-auto">
                                <input class="form-check-input" id="humain" type="radio" name="role" th:value="NEUTRE" checked>
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label" for="isInterestedInWomanChoice1">Bad Guy</label>
                            </div>
                            <div class="col-auto">
                                <input class="form-check-input" id="isInterestedInWomanChoice1" type="radio" name="role" th:value="MECHANT">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="user-password">Mot de passe</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="user-password" name="password" placeholder="password"  th:field="*{password}" type="password" required>
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="confirm">Confirmer le mot de passe</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="confirm" name="confirm" placeholder="password" type="password" required>
                            </div>
                        </div>
                        <div class="row justify-content-center my-3">
                            <a class="accueilButton btn--svg js-animated-button my-3" href="#" onclick="document.getElementById('submitButton').click()">
                                <span class="btn--svg__label">Créer le compte</span>
                                <svg class="btn--svg__circle" width="190" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60">
                                    <circle class="js-discover-circle" fill="#FFFFFF" cx="30" cy="30" r="28.7"></circle>
                                </svg>
                                <svg class="btn--svg__border" x="0px" y="0px" preserveaspectratio="none" viewBox="2 29.3 56.9 13.4" enable-background="new 2 29.3 56.9 13.4" width="190">
                                    <g class="btn--svg__border--left js-discover-left-border" id="Calque_2">
                                        <path fill="none" stroke="#FFF" stroke-width="0.5" stroke-miterlimit="1" d="M30.4,41.9H9c0,0-6.2-0.3-6.2-5.9S9,30.1,9,30.1h21.4"></path>
                                    </g>
                                    <g class="btn--svg__border--right js-discover-right-border" id="Calque_3">
                                        <path fill="none" stroke="#FFF" stroke-width="0.5" stroke-miterlimit="1" d="M30.4,41.9h21.5c0,0,6.1-0.4,6.1-5.9s-6-5.9-6-5.9H30.4"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>