<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <th:block layout:fragment="config">
        <title>Video</title>
        <link href="/static/css/video.css" rel="stylesheet"/>
    </th:block>

    <div layout:fragment="content">
        <div class="container">
            <div class="row form-button">
                <h1 class="text-center my-3 col-12 col-lg-5" th:text="'Vidéos de ' + ${user.username}"></h1>
                <form id="videoForm" class="col-12 col-lg-7" method="post" th:action="@{/video/update}" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-4">
                            <a data-back="Suppression" data-front="Modifier" class="button-hide-delete btn-flip"></a>
                        </div>
                        <div class="col-4">
                            <label data-back="Ajouter" data-front="Image" class="btn-flip" for="file_v"></label>
                            <input class="form-control" id="file_v" name="file_video" type="file">
                        </div>
                        <div class="col-4">
                            <a href="#" data-back="Image" data-front="Valider" class="btn-flip button-submit" onclick="submitForm()"></a>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div class="row justify-content-around">
                <div class="col-lg-3" th:each="video : ${user.videos}">
                    <div class="row mt-4 container-video">
                        <a th:href="@{/video/show(id=${video.id})}" class="video-btn">
                            <video class="video">
                            <source th:src="${video.getVideoPath()}" type="video/webm">
                            <source th:src="${video.getVideoPath()}" type="video/mp4" preload="metadata"#t="0.5">
                                Désolé mais votre navigateur ne supporte pas ce format de vidéo
                            </video>
                        </a>
                        <div class="link-delete">
                            <a  th:href="@{/video/delete(id=${video.id})}" class="delete-img video-btn d-block"><img class="delete-logo" src="/static/css/img/delete.png" alt="Logo Gallery"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $(".link-delete").hide();

                $(".button-hide-delete").click(function(){
                    $(".link-delete").toggle();
                });

                $(".button-submit").click(function(){
                    $("#videoForm").submit();
                });
            });
        </script>
    </div>
</html>