@import "style.scss";


.accueilCreateAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
  max-width: 39vh;
}

label {
  display: block;
  width: 150px;
  float: left;
}

.birstdayBr {
  float: none;
}

.form-group {
  max-width: 15vh;
}

.marginCreateUser {
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.userCards {
  min-height: 25vh;
}

#event-description{
height: 200px;
width: 200%;
}