/***** Imports *****/

@import "style.scss";

/***** Pictures *****/

.picture {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.picture-show {
  width: 100%;
  object-fit: cover;
  height: auto;
}
