@import "style.scss";

body {
  background-color: #C4C4C4;
}

.baniere {
  width: 100%;
  height: 310px;
  margin-top: 15px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.banner-logo {
  width: 30px;
  height: auto;
  transition: 0.3s;
}

.banner-logo:hover {
  width: 40px;
  height: auto;
  transition: 0.3s;
}

.profile-logo {
  width: 80px;
  position: absolute;
  margin-top: -40px;
  z-index: 20;
  border-radius: 50%;
}

.ornament-logo {
  position: absolute;
  width: 110px;
  height: auto;
  justify-content: center;
  //top: -55px;
  //left: 50px;
  background-color: white;
  border-radius: 50%;
  z-index: 10;
  animation: spin 8s linear infinite;
  margin-top: -55px;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  margin-top: 60px;
  justify-content: center;
  background-color: white;
}

.banner-logo-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 100px;
  background-color: white;
  align-items: center;
}

.banner-left {
  border-radius: 0 0 0 10px;
  margin-right: -15px;
  padding: 0;
}

.banner-right {
  border-radius: 0 0 10px 0;
  margin-left: -15px;
  padding: 0;
}

.friend-connected {
  background-color: #264653 !important;
}

.friend-connected ul {
  list-style-type: none;
}

.friend-connected ul li {
  margin-bottom: 10px;
}

.banner-list {
  background-color: white;
  height: 100px;
  position: relative;
}