@import "variables.scss";

/***** Bootstrap *****/

.bg-primary {
  background-color: $primary;
}

.navbar-light, .navbar-brand {
  color: $secondary;
}

/***** Navbar *****/

.navbar-nav {
  align-items: center;
}

.logo {
  display: inline;
  height: 25px;
  width: 25px;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 10px;
  height: 25px;
  background-color: white;
  border-radius: 50px;
}

.search_input {
  color: $primary;
  border: 0;
  outline: 0;
  background: none;
  width: 2px;
  padding-left: 10px;
  caret-color: transparent;
  line-height: 10px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding-left: 10px;
  padding-bottom: 10px;
  width: 400px;
  caret-color: red;
  transition: width 0.4s linear;
}

/***** Accueil *****/

.accueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 40vh;
}

.imageAccueil {
  background-image: url("/static/css/img/xmenaccueil.jpg");
  background-size: cover;
  min-height: 100vh;
}

.aButton {
  color: white;
}

.cardHome {
  background-color: #264653;
  color: white;
}

.search_icon {
  height: 20px;
  width: 20px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-left: 10px;
}

.marginAccueil {
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.createButton {
margin-bottom: 1vh;
}

.connexionButton {
margin-top: 2vh;
}

/***** Leaflet *****/

.image-icon {
  border-radius: 50%;
}