<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <th:block layout:fragment="config">
        <title>Image</title>
    </th:block>

    <div layout:fragment="content">
        <form method="post" th:action="@{/picture/update}" enctype="multipart/form-data">
            <div>
                <label class="form-label" for="file_picture" >Image</label>
                <input class="form-control" id="file_picture" name="file_picture" type="file">
            </div>
            <button type="submit">Modifier</button>
        </form>
    </div>
</html>