<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Les posts</title>
    <th:block th:replace="/fragments/bootstrap.html :: bootstrap-head"></th:block>
    <link href="/static/css/post.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<header th:replace="/fragments/header.html :: top"></header>
<div class="container-fluid">
    <div th:switch="${listPosts}">
        <h2 th:case="null">Pas encore de post!</h2>
        <div th:case="*">
            <h2>Posts</h2>
            <a th:href="@{/postCreate}"><i class="fas fa-reply">ajouter un post</i></a>
            <div class="row">
                <tr th:each="p: ${listPosts}">
                    <span th:if="${p.isPrivatePost == false}">
                        <div id="post-container" name="content">
                            <td th:text="${p.content}"></td>
                    <div id="by-user">
                            <td th:text="${'Le: '+p.createdAt}"></td>
                            <td th:text="${'Posté par: '+p.cerebookUser.username}"></td>

                            </div>
                            </div>
                        <div>
                    <td><a th:href="@{/addComment/{id}(id=${p.id})}"><i class="far fa-comment"></i>commenter</a></td>
                        <td><a th:href="@{/listComment/{id}(id=${p.id})}"><i class="far fa-comments"></i>voir les commentaires</a></td>
                            <form action="#" th:action="@{/update/{id}(id=${p.id})}" method="POST" >
                                <button type="submit" value="1" name="like" ><i class="far fa-thumbs-up"></i> </button>
                                <button type="submit" value="-1" name="like" ><i class="far fa-thumbs-down"></i> </button>

                            </form>

                        </div>
                    </span>
                </tr>

            </div>
        </div>
    </div>
</div>
<th:block th:replace="/fragments/bootstrap.html :: bootstrap-body"></th:block>
</body>
</html>