<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Cerebook index</title>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link href="/static/css/style.css" rel="stylesheet" />
    </head>
<body>

    <header th:replace="/fragments/header.html :: top"></header>
    <h1>Cerebook</h1>
    <div class="container">
        <div class="row">
            <a href="/heros" class="col-4 offset-3">Liste des héros</a>
        </div>
    </div>
    <script th:src="@{/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>