<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Listz commentaires</title>
    <th:block th:replace="/fragments/bootstrap.html :: bootstrap-head"></th:block>
    <link href="/static/css/post.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<header th:replace="/fragments/header.html :: top"></header>
<div class="container-fluid">
    <!--liste commentaires debut--->
    <div th:switch="${listComment}">
        <h2 th:case="null">Pas encore de commentaires!</h2>
        <div th:case="*">
            <h2>Commentaires</h2>
            <div class="row">
                <span>
                <tr th:each="c: ${listComment}">
                    <div id="post-container" name="content">
                        <td th:text="${c.comment}"></td>
                        <div id="by-user">
                            <td th:text="${'Le: '+c.createdAt}"></td>
                            <td th:text="${'commentaire de: '+c.cerebookUser.username}"></td>

                        </div>
                    </div>
                </tr>
                </span>

            </div>
        </div>
    </div>
    <!--fin liste--->
</div>
<th:block th:replace="/fragments/bootstrap.html :: bootstrap-body"></th:block>
</body>
</html>