<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

<th:block layout:fragment="config">
    <title>List all posts</title>
    <link href="/static/css/post.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</th:block>

<div layout:fragment="content">
    <div class="container-fluid">
        <div class="divtpost mt-5">
            <!--- section post et commentaires -->
            <div class="row">
                <!--- section post et commentaires -->
                <div th:switch="${listPosts}">
                    <h2 th:case="null">Pas encore de post!</h2>
                    <div th:case="*">
                        <h2>Posts</h2>
                        <a th:href="@{/postCreate}"><i class="fas fa-reply">ajouter un post</i></a>
                        <div class="row">
                                    <tr th:each="p: ${listPosts}">
                                                <span th:if="${p.isPrivatePost == false}">
                                                    <div id="post-container" name="content">
                                                            <td th:text="${p.content}"></td>
                                                        <div class="image"><img class="col-lg-4" th:src="'https://wcs-2-be-or-not-2-be.s3.eu-west-3.amazonaws.com/'+${p.image}"></img></div>
                                                        <!--<td><a id="stiky" th:href="@{/deletePost/{id}(id=${p.id})}"><i class="far fa-trash-alt"></i></a></td>-->
                                                        <div id="by-user">
                                                            <td th:text="${'Le: '+#dates.format(p.createdAt,'dd/MM/yyyy HH:mm')}"></td>
                                                            <td th:text="${'Posté par: '+p.cerebookUser.username}"></td>
                                                        </div>
                                                                  <td><a th:href="@{/addComment/${p.id}}"><i
                                                                          class="far fa-comment"></i>commenter</a></td>
                                                                    <td><a th:href="@{/listComment/{id}(id=${p.id})}"><i
                                                                            class="far fa-comments"> </i>voir les commentaires  </a></td>
                                                                    <td><a th:href="@{/addLike/{id}(id=${p.id})}">
                                                                        <i class="far fa-thumbs-up"></i>Liker Ce post</a></td>
                                                                </div>
                                                            <div>
                                                        </div>
                                                </span>
                        </div>
                                    </tr>
                    </div>
                </div>
                <!-- fin section post et commentaires -->
            </div>
        </div>
    </div>
</div>
</html>