<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

<th:block layout:fragment="config">
    <title>liker</title>
    <link href="/static/css/post.css" rel="stylesheet"/>
    <link href="/static/css/profil.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</th:block>
    <div layout:fragment="content">
        <div class="container">
                            <a th:href="@{/profil}"><i class="fas fa-arrow-circle-left">Retour</i>  </a>
                    <div id="like-container" class="justify-content" name="content">
                                    <td th:text="${post.content}"></td>
                                    <td class="list-inline-item" th:text="${'Le: '+post.createdAt}"></td>
                                    <td class="list-inline-item" th:text="${'Posté par: '+post.cerebookUser.username}"></td>
                            <div class="btn-group">
                                        <div class="justify-content-between d-flex" id ="list" >
                                            <!--<td class="" ><a class="btn btn-outline-primary" th:href="@{/addComment/{id}(id=${post.id})}"><i
                                                    class="far fa-comment"></i>Commenter</a></td>
                                            <td class=""><a class="btn btn-outline-primary" th:href="@{/listComment/{id}(id=${post.id})}"><i
                                                    class="far fa-comments"> </i>Voir les commentaires </a></td>-->
                                            <form id="aime" class="" th:action="${'/addLike/' + {post.id} }" method="POST">
                                                <td th:text="${'j''aime: '+countLike}" disabled></td><button  class="btn btn-primary btn-lg active"  type="submit"><i
                                                    class="far fa-thumbs-up"></i></button>
                                            </form>
                                        </div>
                            </div>
                    </div>
                        </span>
        </div>
    </div>
</html>