<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

<th:block layout:fragment="config">
    <title>Actualité</title>
    <link href="/static/css/user.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
</th:block>

<div layout:fragment="content">
    <div class="container justify-content-center">
        <div class="row justify-content-center mb-7 mt-4 mr-0 ml-0">
            <div class="card border-secondary mb-3 p-0 col-4">
                <div class="card-header col text-center m-0">Ajouter un post</div>
                <div class="card-body">
                    <form action="#" th:action="@{/save/home}" th:object="${post}" method="POST">
                        <div class="form-group ">
                            <div class="justify-content-between">
                                <a class="nav-link" th:href="@{/profil}"><img style="width: 50px;"
                                                                              class="nav-bar-profile-logo col-2"
                                                                              th:src="'https://wcs-2-be-or-not-2-be.s3.eu-west-3.amazonaws.com/'+${user.profil.avatar}"
                                                                              alt="Logo profil"></a>
                                <input type="text" id="postextearea" th:field="*{content}" placeholder="Quoi de neuf "
                                       class="form-control mb-4 col-4">
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="hidden" th:value="${localDateTime}" th:field="*{createdAt}"
                                   placeholder=" created at" class="form-control mb-4 col-4"/>
                        </div>
                        <div class="form-group">Is private:
                            <input type="checkbox" name="postStatus" th:checked="${postStatus}"
                                   th:field="${post.privatePost}" class="form-check-input"/>
                        </div>
                        <div class="justify-content-center text-center">
                            <button type="submit" class="btn btn-primary "> Valider</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" th:each="post, iter : ${posts}"
             th:if="${friendsUsername.contains(post.getCerebookUser().getUsername())} OR ${post.getCerebookUser().getUsername()} == ${user.getUsername()}">
            <div class="justify-content-center d-flex">
                <div class=" card col-5 mb-4 mt-4 ">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <div class="justify-content-start d-flex align-items-center">

                                <a class="nav-link d-block " th:href="@{/profil/{id}(id=${post.getCerebookUser().id})}">
                                    <img style="width: 50px;"
                                         class="nav-bar-profile-logo col-2"
                                         th:src="'https://wcs-2-be-or-not-2-be.s3.eu-west-3.amazonaws.com/'+${post.getCerebookUser().profil.avatar}"
                                         alt="Logo profil"></a>
                                <p th:text="${post.getCerebookUser().getUsername()}"/>
                            </div>
                            <p th:text="${post.content}" class="mt-4 mb-4">

                            <footer><a class="btn btn-primary" data-bs-toggle="collapse"
                                       th:href="'#collapseExample'+ ${iter.index}"
                                       role="button"
                                       aria-expanded="true" aria-controls="collapseExample">
                                <i class="far fa-comment"></i> ajouter un commentaire</a>

                                <a class="btn btn-primary" data-bs-toggle="collapse"
                                   th:href="'#collapseExamplo'+ ${iter.index}" role="button"
                                   aria-expanded="false" aria-controls="collapseExamplo">
                                    <i class="far fa-comment"></i> voir les commentaires</a>

                                <p>commentaire posté par <cite th:text="${post.getCerebookUser().getUsername()}"
                                                               title="Source Title"/></p>

                            </footer>
                        </blockquote>

                    </div>

                    <div class="collapse" th:id="'collapseExample' + ${iter.index}">
                        <div class="card card-body">
                            <form action="#" th:action="@{/saveCommentHome}" th:object="${comment}" method="POST">
                                <div class="form-group">
                                    <label for="comment">Commentaire: </label>
                                    <input type="text" th:field="*{comment}" id="comment"
                                           placeholder="entrez votre commentaire" class="form-control mb-4 col-4">
                                </div>
                                <div class="form-group">
                                    <input type="hidden" th:value="${time}" th:field="*{createdAt}"
                                           placeholder=" created at" class="form-control mb-4 col-4"/>
                                </div>
                                <input type="hidden" th:field="${comment.id}" class="form-control mb-4 col-4">
                                <input type="hidden" name="postid" th:value="${post.id}"
                                       class="form-control mb-4 col-4">
                                <button type="submit" class="btn btn-primary col-2"> Envoyer</button>
                            </form>
                        </div>
                    </div>

                    <div class="collapse" th:id="'collapseExamplo' + ${iter.index}">
                        <div class="jusitfy-content-between" th:each="comment : ${post.getComments()}">
                            <div class="justify-content-between">
                                <a class="nav-link" th:href="@{/profil}"><img style="width: 50px;"
                                                                              class="nav-bar-profile-logo col-2"
                                                                              th:src="'https://wcs-2-be-or-not-2-be.s3.eu-west-3.amazonaws.com/'+${comment.getCerebookUser().profil.avatar}"
                                                                              alt="Logo profil"></a>
                                <p th:text="${comment.getCerebookUser().getUsername()}"/>
                            </div>
                            <p th:text="${comment.getComment()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</html>