@import "style.scss";

#post-container {
  background: #f1f1f1;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  display: table;
  margin-bottom: 1em;
  padding: 10px;
  position: relative;
  width: auto;
  padding: 10px;
  margin: 8px 0 0;
  line-height: 1.3;
  width: 100%;
  height: auto;
  font-family: var(--ff-mono);
  font-size: 1.15384615rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  display: block;
  white-space:pre-line;
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: pre-line;
  margin-bottom: 5px;
  //display: flex;
  //flex-direction: column;
  /* current browsers */
}

#like-container {
  background: #f9f9f9;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  display: table;
  margin-bottom: 1em;
  padding: 10px;
  position: relative;
  width: auto;
  padding: 10px;
  margin: 8px 0 0;
  line-height: 1.3;
  width: 100%;
  height: auto;
  font-family: var(--ff-mono);
  font-size: 1.15384615rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  display: block;
  white-space:pre-line;
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: pre-line;
  margin-bottom: 5px;
  display: flex;
  lex-direction: column;
  word-break: break-all;
  //overflow:hidden;
}
.image img {
  width: 180px;
  height: 180px;
}
#aime {
  position:relative ;
  //z-index: 1;
}

.liens ul {
  height: 30px;
  margin-bottom:0px;
  color: #F4A261;

}
.btn-group {
  position: relative;
  //display: inline-flex;
  vertical-align: bottom;
  align-items: end;
  float: right;
  margin-top: -15px;

}
.btn-group a{
  color: #1B2735;
}
.btn-outline-primary:hover {
  color:#fff;
  border-color: #1B2735;
  //background-color: #0d6efd;
  //border-color: #0d6efd;
}
.btn {
  font-size: 15px;
  background-color: #FFFCFD;
  border-color:#596a72;
}
.btn:hover {
  background-color: #1B2735;
}


#list{
  padding: 5px; margin: 5px;
  position: relative;

}
#by-user li a {
  //display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
  color: #fff;
  background: #999;
}
#by-user li {
  display: inline;
  list-style: none; /* pour enlever les puces sur IE7 */
  margin: 2px;
}
#by-user a{
  display:inline-block;
  margin: 0 30px;
}

.content td:nth-child(2n+1) {
  background-color: #d48c8c;
}
.content {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.darker {
  border-color: #ccc;
  background-color: #ddd;
}
.link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .link li {
    display: inline;
    float: left;
  }

  .content::after {
    content: "";
    clear: both;
    display: table;
  }
  .justify-content-between li {
    justify-content: space-between !important;
    list-style-type: none;
  }

}
