<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="/fragments/bootstrap.html :: bootstrap-head"></th:block>
    <link href="/static/css/profil.css" rel="stylesheet"/>
    <title>tchat</title>
</head>
<body>
<header th:replace="/fragments/header.html :: top"></header>
<div class="container">
    <h1 class="text-center mt-4 mb-4">Conversation</h1>
    <div class="container">
    <div th:each="message: ${messages}">
        <div th:if="${message.getCurrentUser().getId() == user.getId()}" class="alert alert-primary col-3"
           th:text="${message.getMessage()}"></p></div>
        <p th:unless="${message.getCurrentUser().getId() != user.getId()}" class="alert alert-danger col-3"
           th:text="${message.getMessage()}"/>
    </div>
    </div>

    <div class="row justify-content-center">
        <form th:action="@{/createTchatmessage}" th:object="${user}" th:method="post">

            <label for="msg" class="">Message</label>

            <input type="text" class="form-control " name="contentMessage" id="msg" rows="4">

            <label hidden for="userfriend">userid</label>
            <input hidden th:value="${user.id}" name="userfriend" id="userfriend"/>

            <input type="submit" value="Envoyer" class="btn btn-primary"/>


        </form>
    </div>
</div>
<th:block th:replace="/fragments/bootstrap.html :: bootstrap-body"></th:block>
</body>
</html>