<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <th:block layout:fragment="config">
        <title>Ajouter un évènement</title>
        <link href="/static/css/event.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
              integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </th:block>

    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-5 bg-primary panel">
                    <form class="row justify-content-center" method="post" th:action="@{/eventSave}" th:object="${event}" enctype="multipart/form-data">
                        <h1 class="text-center my-4">Ajouter un évènement</h1>
                        <input name="id" th:field="${event.id}" type="hidden">
                        <input id="submitButton" type="submit" hidden>
                        <div th:if="${error_cartography}" class="alert alert-danger col-11 pl-1 pr-1 mb-4" role="alert">
                            Coordonnées invalides.
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="event-title">Titre</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="event-title" name="title" placeholder="Titre de l'évènement" required th:field="*{title}" type="text">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="event-startEvent">Date de début</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="event-startEvent" name="startEvent" required th:field="*{startEvent}" type="date">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="event-endEvent">Date de fin</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="event-endEvent" name="endEvent" required th:field="*{endEvent}" type="date">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="event-city">Ville de l'évènement</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="event-city" name="city" placeholder="New York..." required th:field="*{city}" type="text">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="event-address">Addresse</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="event-address" name="address" placeholder="1 Av. du champs de mars" th:field="*{address}" type="text">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="event-email">Adresse e-mail</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="event-email" name="email" placeholder="Wolverine@x-men.com" th:field="*{email}" type="email">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="event-phone">Télephone</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="event-phone" name="phone" th:field="*{phone}" type="tel">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-auto">
                                <label class="col-form-label" for="event-image">Image</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="event-image" name="picture" type="file">
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between my-3">
                            <div class="col-1">
                                <input class="form-check-input" id="event-role" type="radio" name="role" th:value="false">
                            </div>
                            <div class="col-5">
                                <label class="form-check-label" for="event-role">Public</label>
                            </div>
                            <div class="col-1">
                                <input class="form-check-input" id="event-roles" type="radio" name="roles" th:value="true">
                            </div>
                            <div class="col-5">
                                <label class="form-check-label" for="event-roles">Privé</label>
                            </div>
                        </div>
                        <div class="row col-7 g-1 justify-content-between">
                            <div class="col-12">
                                <label class="col-form-label" for="event-description">Description :</label>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" id="event-description" name="address" placeholder="Description de l'évènement..." th:field="*{description}" type="text"/>
                            </div>
                        </div>
                        <div class="row justify-content-center my-3">
                            <a class="accueilButton btn--svg js-animated-button my-3 mx-2" th:href="@{/}">
                                <span class="btn--svg__label">Retour</span>
                                <svg class="btn--svg__circle" width="190" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60">
                                    <circle class="js-discover-circle" fill="#FFFFFF" cx="30" cy="30" r="28.7"></circle>
                                </svg>
                                <svg class="btn--svg__border" x="0px" y="0px" preserveaspectratio="none" viewBox="2 29.3 56.9 13.4" enable-background="new 2 29.3 56.9 13.4" width="190">
                                    <g class="btn--svg__border--left js-discover-left-border" id="Calque_2">
                                        <path fill="none" stroke="#FFF" stroke-width="0.5" stroke-miterlimit="1" d="M30.4,41.9H9c0,0-6.2-0.3-6.2-5.9S9,30.1,9,30.1h21.4"></path>
                                    </g>
                                    <g class="btn--svg__border--right js-discover-right-border" id="Calque_3">
                                        <path fill="none" stroke="#FFF" stroke-width="0.5" stroke-miterlimit="1" d="M30.4,41.9h21.5c0,0,6.1-0.4,6.1-5.9s-6-5.9-6-5.9H30.4"></path>
                                    </g>
                                </svg>
                            </a>
                            <a class="accueilButton btn--svg js-animated-button my-3 mx-2" href="#" onclick="document.getElementById('submitButton').click()">
                                <span class="btn--svg__label">Créer l'évènement</span>
                                <svg class="btn--svg__circle" width="190" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60">
                                    <circle class="js-discover-circle" fill="#FFFFFF" cx="30" cy="30" r="28.7"></circle>
                                </svg>
                                <svg class="btn--svg__border" x="0px" y="0px" preserveaspectratio="none" viewBox="2 29.3 56.9 13.4" enable-background="new 2 29.3 56.9 13.4" width="190">
                                    <g class="btn--svg__border--left js-discover-left-border" id="Calque_2">
                                        <path fill="none" stroke="#FFF" stroke-width="0.5" stroke-miterlimit="1" d="M30.4,41.9H9c0,0-6.2-0.3-6.2-5.9S9,30.1,9,30.1h21.4"></path>
                                    </g>
                                    <g class="btn--svg__border--right js-discover-right-border" id="Calque_3">
                                        <path fill="none" stroke="#FFF" stroke-width="0.5" stroke-miterlimit="1" d="M30.4,41.9h21.5c0,0,6.1-0.4,6.1-5.9s-6-5.9-6-5.9H30.4"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>